body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

h1 {
    color: rgb(10, 78, 44);
}

h2 {
    color: rgb(253, 253, 253);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#continer {
    margin: 0%;
    width: 600px;
}

#post {
    margin: auto;
    padding-top: 5px;
    width: 400px;
    text-align: justify;
}

#cabecera {
    text-align: center;
    width: 600px;
    height: auto;
    background-color: rgb(27, 8, 44);
    color: aliceblue;
}


#foot {

    padding-top: 2px;
    background-color: rgb(100, 7, 7);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
} 

#cont-foot {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    padding: 2px;


}


